$font-family-title: 'Montserrat', sans-serif;
$font-family-menu: 'Bebas Neue', cursive;
$font-family-logo: 'Alfa Slab One', cursive;

// Paths
$path-image: '../images';
$path-fonts: '../fonts';

// Font-weight
$font-weight-normal: normal;
$font-weight-base: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Color
$cl-black: #3d2514;
$cl-red: #bf2222;
$cl-white: #fff;
$cl-yellow: #ffc045;
$cl-grey: #dcdcdc;
$cl-grey-2: #bebebe;
