$font-family-base: 'Baskervville', sans-serif;
$font-family-title: 'Montserrat', sans-serif;
$font-family-logo: 'BlackJack', sans-serif;

// Paths
$path-image: '../images';
$path-fonts: '../fonts';

// Font-weight
$font-weight-normal: normal;
$font-weight-base: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Color
$cl-green: #cb9e61;
$cl-gray: #929496;
$cl-gray-2: #8c8c8c;
$cl-light: #808183;
$cl-green-2: #e0c39c;
$cl-white: #fff;
$cl-green-circle: #cca77c;
$cl-gray-circle: #daccb6;
$cl-brown-circle: #8d8b8a;
