* {
  /* font-family: "Baskervville", serif;
  font-family: "Libre Baskerville", serif; */
  box-sizing: border-box;
}

:root {
  --font-family-1: "Baskervville";
  --font-family-2: "Montserrat";
  --green: #cb9e61;
  --gray: #929496;
  --green-2: #8c8c8c;
  --white: #ffffff;
}

.btn {
  text-transform: uppercase;
  color: var(--white);
}

a {
  text-decoration: none;
}

.advice-text,
.footer-text {
  margin-top: 134px;
  font-size: 30px;
  line-height: 34px;
  color: #808183;
  font-family: "BlackJack";
}
/* Header */
.header-info {
  text-align: center;
}

.header-menu-wrapper {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.header-title {
  font-size: 67px;
  letter-spacing: 9px;
  line-height: 81px;
  color: var(--green);
  font-family: var(--font-family-1), serif;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.header-subtitle {
  font-size: 21px;
  letter-spacing: 2px;
  line-height: 26px;
  color: var(--gray);
  font-family: var(--font-family-1), serif;
  text-transform: uppercase;
}

ul.header-menu {
  display: flex;
  text-decoration: none;
  list-style: none;
  padding: 10;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 18px;
  color: #8c8c8c;
  font-weight: 500;
  font-family: var(--font-family-2), serif;
  text-transform: uppercase;
  margin-left: 40px;
  justify-content: space-between;
  align-items: center;
  margin-top: 59px;
}

.header-menu .menu-item:nth-child(-n + 2) {
  margin-right: 40px;
}

.header-menu .menu-item:nth-child(3) {
  margin-right: 50px;
}

.header-menu .menu-item:nth-child(4),
.header-menu .menu-item:nth-child(5) {
  margin-right: 80px;
}

.header-vertical-line {
  height: 21px;
  border: 1px solid var(--gray);
  margin-right: 80px;
}

.header-menu .menu-item:nth-child(n + 7) {
  margin-right: 80px;
  font-weight: 700;
}

.menu-link:link {
  color: var(--gray-2);
  background-color: transparent;
  text-decoration: none;
}

.menu-search {
  padding: 5px;
}

input.menu-search {
  width: 244px;
}

input.menu-search::placeholder {
  text-transform: uppercase;
}

.section-banner {
  margin-top: 59px;
}

.header-banner-subheading {
  color: var(--green);
  font-size: 14px;
  line-height: 16px;
  display: flex;
  letter-spacing: 2px;
  justify-content: center;
  font-weight: 500;
  margin-bottom: 10px;
}

.header-subheading-text {
  margin-right: 20px;
  text-transform: uppercase;
}

.header-image-banner {
  display: flex;
  justify-content: center;
  position: relative;
}

.header-login {
  position: absolute;
  bottom: 60px;
  right: 330px;
  display: flex;
  flex-direction: column;
}

.header-input-login {
  width: 237px;
  height: 29px;
  background-color: #ffffff;
  border: 1px solid #8c8c8c;
}

.btn-login {
  margin-top: 10px;
  width: 243px;
  height: 33px;
  background-color: #cb9e61;
  border: none;
  font-size: 19px;
  font-family: var(--font-family-1), serif;
}

h1.header-title a {
  text-decoration: none;
  color: var(--green);
}

/* Tips */
.tips-posts-wrapper {
  display: flex;
  justify-content: center;
}

.tips-list-post {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1254px;
}

.tip-post {
  max-width: 299px;
  margin-right: 60px;
  position: relative;
}

.tip-post:nth-child(n + 4) {
  margin-top: 40px;
}

.tips-title {
  font-size: 36px;
  line-height: 41px;
  color: #cb9e61;
  font-family: var(--font-family-1), serif;
  margin-top: 36px;
  margin-bottom: 30px;
  text-align: center;
}

.post-description {
  height: 38px;
  font-size: 10px;
  color: #ffffff;
  font-weight: 500;
  background-color: var(--green-2);
  padding: 9px 12px 7px 12px;
  display: none;
  transition: all 0.5s ease;
}

.background-image {
  width: 299px;
  background-repeat: no-repeat;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.post-image-1 {
  background-position: 72% 75%;
}

.btn-icon-next {
  position: absolute;
  width: 6px;
  height: 24px;
  top: 215px;
  right: 30px;
  display: none;
  cursor: pointer;
}

i.fa.fa-chevron-right {
  font-size: 30px;
}

.bottom-title {
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

.bottom-content {
  width: 960px;
  height: 82px;
  font-size: 10px;
  color: #8c8c8c;
  font-weight: 500;
  font-family: "Barlow";
  text-align: center;
}

/* Slogan */
section.section-about-us {
  display: flex;
  justify-content: center;
}

.about-us-image.image-right {
  margin-right: 80px;
}

.about-us-title {
  font-size: 35px;
  color: var(--green);
  font-family: var(--font-family-1);
  width: 233px;
}

.slogan-subtitle {
  margin-top: 55px;
  font-size: 35px;
  color: var(--green-2);
}

.slogan-subtitle p {
  margin-bottom: 5px;
  margin-top: 5px;
}

.btn-slogan {
  font-size: 19px;
  line-height: 22px;
  width: 283px;
  background-color: var(--green);
  border: none;
  padding: 8px 15px 7px 25px;
  font-family: var(--font-family-1);
  margin-top: 40px;
}

.about-us-text {
  margin-top: 134px;
  font-size: 30px;
  line-height: 34px;
  color: #808183;
  font-family: "BlackJack";
}

.about-us-image {
  position: relative;
}

.about-us-branch {
  position: absolute;
  bottom: -55px;
  right: -160px;
}

/* Newsletter */
section.section-newsletter {
  display: flex;
  margin-top: 40px;
  margin-right: 260px;
  justify-content: flex-end;
}

.newsletter-info {
  /* margin-right: 60px; */
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.newsletter-description {
  font-size: 35px;
  color: var(--green);
  font-family: var(--font-family-1);
  width: 591px;
  margin-bottom: 5px;
}

.newsletter-title {
  font-size: 35px;
  color: var(--gray);
  font-family: var(--font-family-1);
  margin-top: 5px;
}

.newsletter-action {
  display: flex;
  justify-content: flex-end;
  margin-right: 110px;
  flex-direction: column;
}

.newsletter-action input {
  width: 471px;
  height: 37px;
  background-color: #ffffff;
  border: 2px solid #8c8c8c;
}

.btn-newsletter {
  width: 471px;
  height: 37px;
  background-color: var(--green);
  border: none;
  margin-top: 11px;
  font-size: 23px;
  letter-spacing: 2px;
  line-height: 26px;
  color: #ffffff;
  font-family: var(--font-family-1);
}

.newsletter-bottom-text {
  margin-top: 19px;
  width: 474px;
  text-align: end;
}

/* New Season */
.category-title {
  font-size: 57px;
  letter-spacing: 5px;
  line-height: 69px;
  color: var(--green);
  font-family: var(--font-family-1);
  text-align: center;
  margin-top: 121px;
  text-transform: uppercase;
}

.category-green {
  width: 187px;
  height: 20px;
  background-color: #e0c39c;
  margin-bottom: 5px;
}

.category {
  text-transform: uppercase;
  width: 100%;
  background-color: #8c8c8c;
  padding: 10px;
  text-align: center;
  font-family: var(--font-family-1);
  color: #ffffff;
}

.category-content {
  display: flex;
  justify-content: center;
  width: 1723px;
}

.category-decor {
  margin-right: 10px;
}

.category-bedroom {
  margin-right: 10px;
}

.category-text {
  font-size: 33px;
  color: var(--green);
  font-family: var(--font-family-1);
  width: 356px;
  margin-top: 34px;
}

.category-color {
  display: flex;
  justify-content: flex-end;
}

.category-decor {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* Advice */

.section-advice {
  margin-top: 195px;
  width: 1723px;
}

.advice-text {
  margin-top: 71px;
}

.advice-green {
  width: 51px;
  height: 171px;
  background-color: #e0c39c;
  margin-top: 7px;
}

section.section-advice {
  display: flex;
  justify-content: center;
}

.advice-title {
  font-size: 35px;
  color: var(--green);
  font-family: var(--font-family-1);
}

.advice-info {
  width: 355px;
  display: flex;
  flex-direction: column;
  text-align: end;
  margin-right: 14px;
}

.advice-subtitle p {
  font-size: 35px;
  color: var(--gray);
  font-family: var(--font-family-1);
  margin-top: 5px;
  margin-bottom: 5px;
}

.advice-subtitle {
  margin-top: 30px;
}

.advice-paint-image {
  position: relative;
  display: flex;
}

.advice-paint {
  z-index: 10002;
}

.advice-tree {
  position: absolute;
  bottom: -165px;
  right: 170px;
  z-index: 100003;
}

.advice-color {
  position: absolute;
  bottom: -100px;
  right: -70px;
}

.advice-circle-content {
  list-style: none;
}

.advice-circle-content li:nth-child(1) {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background-color: #cca77c;
  border: 3px solid #ffffff;
}

.advice-circle-content li:nth-child(2) {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background-color: #daccb6;
  border: 3px solid #ffffff;
}

.advice-circle-content li:nth-child(3) {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background-color: #8d8b8a;
  border: 3px solid #ffffff;
}

.advice-circle {
  position: absolute;
  bottom: 206px;
  right: 40px;
  z-index: 100003;
}

.advice-leave {
  position: absolute;
  z-index: 100003;
  bottom: -115px;
  left: 2px;
}

/* Sign up */
.section-signup {
  padding-top: 300px;
  background-image: url(./images/background.png);
  background-repeat: no-repeat;
  background-origin: content-box;
  justify-content: center;
  align-content: center;
  background-position: center;
  padding-bottom: 140px;
}

.signup-title p {
  font-size: 35px;
  color: var(--green);
  font-family: var(--font-family-1);
  text-align: center;
  margin-top: none;
  margin-bottom: 5px;
  margin-top: unset;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.signup-form-input {
  display: flex;
  flex-direction: column;
}

.signup-subtitle {
  width: 454px;
}

.signup-input {
  width: 453px;
  height: 35px;
  margin-bottom: 10px;
  background-color: #ffffff;
  border: 1px solid #8c8c8c;
}

.signup-input:nth-child(3) {
  margin-bottom: 20px;
}

.signup-input::placeholder {
  padding: 13px 18px;
  text-transform: uppercase;
}

.signup-form-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 300px;
  position: relative;
}

.btn-signup {
  width: 454px;
  height: 35px;
  background-color: var(--green);
  border: none;
  text-transform: uppercase;
  font-size: 21px;
  letter-spacing: 2px;
  line-height: 23px;
  font-family: var(--font-family-1);
  margin-bottom: 25px;
}

.signup-form-wrapper {
  background-image: url(./images/signup.png);
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 50px;
}

.signup-subtitle {
  padding-bottom: 50px;
}

.img-grass_vertical {
  position: absolute;
  bottom: -155px;
  right: 308px;
  z-index: -1;
}

/* Discount */
.discount-green {
  width: 66px;
  height: 233px;
  background-color: #e0c39c;
}

.img-discount-left {
  position: relative;
}

.img-discount-jar {
  position: absolute;
  top: 60px;
  left: 520px;
}

.img-discount-book {
  position: absolute;
}

.img-discount-book {
  position: absolute;
  top: 401px;
  left: 615px;
}

.img-discount-left {
  display: flex;
}

.img-discount-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-left: 7px;
}

.section-discount-wrapper {
  display: flex;
}

.img-discount-right {
  position: relative;
}

.discount-description {
  position: absolute;
  bottom: -42px;
  left: 100px;
}

.img-discount-jar,
.img-discount-book {
  z-index: 100003;
}

.discount-description-title {
  font-size: 185px;
  letter-spacing: -7px;
  line-height: 226px;
  color: var(--green);
}

.discount-description-subtitle p:nth-child(1) {
  font-size: 64px;
  letter-spacing: 3px;
  line-height: 79px;
  color: var(--green);
  font-family: var(--font-family-1);
  margin-bottom: 10px;
  margin-top: 45px;
}

.discount-description-subtitle p:nth-child(2) {
  font-size: 39px;
  line-height: 44px;
  color: var(--green);
  font-family: var(--font-family-1);
  margin-top: 15px;
}

.discount-description {
  display: flex;
}

img.img-discount-blurred {
  width: 1000px;
  height: 800px;
}

section.section-discount {
  display: flex;
  justify-content: flex-end;
}

.img-discount-grass {
  position: absolute;
}

.img-discount-grass {
  position: absolute;
  left: -90px;
  z-index: -1;
  top: 145px;
}

/* Footer */
.section-footer {
  background-color: var(--gray);
  display: flex;
  justify-content: space-around;
  padding-bottom: 128px;
  margin-top: 50px;
}

.footer-links-wrapper,
.footer-signup-title {
  margin-top: 139px;
}

.footer-signup-title {
  width: 315px;
}

.footer-signup-title {
  margin-bottom: 30px;
  font-size: 23px;
  color: #ffffff;
  font-family: var(--font-family-1);
}

.footer-signup-form {
  display: flex;
  flex-direction: column;
}

.footer-input {
  width: 309px;
  height: 24px;
  background-color: #ffffff;
  border: 2px solid #8c8c8c;
  padding: 15px;
}

.btn-footer-signup {
  text-transform: uppercase;
  width: 309px;
  /* height: 24px; */
  background-color: var(--green);
  border: none;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 17px;
  color: #ffffff;
  font-family: var(--font-family-1);
  padding: 5px 5px;
  margin-top: 10px;
}

.footer-subtitle {
  margin-top: 25px;
  width: 684px;
  height: 79px;
  font-size: 10px;
  color: #ffffff;
  font-weight: 500;
  width: 315px;
}

.footer-links {
  list-style: none;
}

.footer-links li a {
  margin-top: 10px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 500;
  text-decoration: none;
}

li {
  list-style: none;
}

.footer-links-extend a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: #ffffff;
  font-family: var(--font-family-2);
}

.footer-links-extend li {
  margin-top: 20px;
}

.footer-links-extend li:nth-child(1) {
  margin-top: 50px;
}

.footer-links li::nth-child(1) {
  margin-top: none;
}

.footer-logo-title {
  color: #ffffff;
  margin-bottom: 10px;
}

.footer-logo-my-home {
  font-size: 57px;
  letter-spacing: 8px;
  line-height: 70px;
  color: #ffffff;
  font-family: var(--font-family-1);
  text-transform: uppercase;
}

.footer-logo {
  margin-top: 139px;
}
